
# "az" új infra2 lánc

# -----

# 1. tokenizáló: QunToken
hu.nytud.gate.tokenizers.QunTokenCommandLine

# 2. morfo elemző: HFST
hu.nytud.gate.morph.HFSTMorphJava

# XXX hát igen, csak az a gyanúm, hogy itt semmi kapcsolat nincs...

# 3. POS tagger: PurePOS (a magyarlanc3.0 -bol)
com.precognox.kconnect.gate.magyarlanc.HungarianLemmatizerPosTagger

# 4. függőségi szintaktikai elemző: magyarlanc3.0
hu.nytud.gate.parsers.Magyarlanc3DependencyParser

# XXX 5. ide kell még a konstituens szintaktikai elemző

# XXX 6. NP: huntag3 -- együttműködik a ML3-mal?
#     hát úgy látom, hogy nem, mert bár vannak NP-k, nem jók!
# XXX 'msd' attrib alapján megy? (?) XXX
hu.nytud.gate.othertaggers.Huntag3NPChunkerCommandLine

# -----

# kiegeszitő dolgok

# igekötőazonositó
#  * a 'Fel sem olvassák' elvész - Dep elemző hiba miatt -- oké :)
#  * lesz egy 'őírandó' alak -- Dep elemző hiba miatt -- oké :)
# -> működik és szépen együttműködik a ML3-mal :)
hu.nytud.gate.parsers.PreverbIdentifier

# IOB konvertáló az NP-khez -- sztem oké! :)
hu.nytud.gate.converters.Iob2Annot inputIobAnnotAttrib NP-BIO outputAnnotationName NP

