
# Lang_Hungarian pipeline first part

# (for full available Lang_Hungarian pipeline see: Lang_Hungarian_full.windows.config)

# -----

# HU 1. "emToken" Sentence Splitter and Tokenizer (magyarlanc3.0) [Windows]
com.precognox.kconnect.gate.magyarlanc.HungarianTokenizerSentenceSplitter

# HU 2. "emMorph+emLem" Morphological Analyzer and Lemmatizer (HFST, hfst, native+java)
hu.nytud.gate.morph.HFSTMorphAndLemma

