
# Full available Lang_Hungarian pipeline

# -----

# HU 1. "emToken" Sentence Splitter and Tokenizer (magyarlanc3.0) [Windows]
com.precognox.kconnect.gate.magyarlanc.HungarianTokenizerSentenceSplitter

# HU 2. "emMorph+emLem" Morphological Analyzer and Lemmatizer (HFST, hfst, native+java)
hu.nytud.gate.morph.HFSTMorphAndLemma

# HU 3. "emTag" POS Tagger and Lemmatizer (PurePOS in magyarlanc3.0, hfst)
hu.nytud.gate.postaggers.Magyarlanc3POSTaggerLemmatizer

# HU 4. "emDep" Dependency Parser (magyarlanc3.0, hfst) 
hu.nytud.gate.parsers.Magyarlanc3DependencyParser

# HU 5. Preverb Identifier
#  supplementary tool:
#  mark corresponding verbs and preverbs based on dependency annotation
hu.nytud.gate.parsers.PreverbIdentifier

# HU 4. "emCons" Consituency Parser (magyarlanc3.0, hfst) 
hu.nytud.gate.parsers.Magyarlanc3ConstituencyParser

# HU 4. "emNer" Named Entity Recognizer (HunTag3, hfst, native) 
hu.nytud.gate.othertaggers.Huntag3NERPipeHFSTCode

# HU 5. IOB2Annotation Converter
#  supplementary tool:
#  convert IOB NE annotation into explicit NE annotation
hu.nytud.gate.converters.Iob2Annot inputIobAnnotAttrib NER-BIO1 outputAnnotationName NE

# HU 4. "emChunk" NP Chunker (HunTag3, hfst, native) 
hu.nytud.gate.othertaggers.Huntag3NPChunkerPipeHFSTCode

# HU 5. IOB2Annotation Converter
#  supplementary tool:
#  convert IOB NP annotation into explicit NP annotation
hu.nytud.gate.converters.Iob2Annot inputIobAnnotAttrib NP-BIO outputAnnotationName NP

# HU 5. Human readable morpho analysis
#  supplementary tool:
#  convert morpho analysis into a more human readable format
hu.nytud.gate.converters.ReadableMorphoAnalysis

