
# Full available Lang_Hungarian pipeline
#
# Puts the output of the 2 used tokenizers into 2 separate annotation sets
#  * Magyarlanc + Huntag3 (default annotation set)
#  * QunToken + HFST (named annotation set: 'qt_hfst_as')

hu.nytud.gate.tokenizers.MagyarlancSentenceSplitterTokenizer
hu.nytud.gate.postaggers.MagyarlancPOSTaggerLemmatizer
hu.nytud.gate.parsers.MagyarlancDependencyParser
hu.nytud.gate.parsers.PreverbIdentifier
hu.nytud.gate.othertaggers.Huntag3NPChunkerCommandLine
hu.nytud.gate.converters.Iob2Annot inputIobAnnotAttrib NP-BIO outputAnnotationName NP

hu.nytud.gate.tokenizers.QunTokenCommandLine outputASName qt_hfst_as

hu.nytud.gate.morph.HFSTMorphJava inputASName qt_hfst_as outputASName qt_hfst_as

