
# Magyarlanc "Depparse" = ML tokenizer + (MSD) POS tagger/lemmatizer + dependency parser
# with additional parser parameters

hu.nytud.gate.tokenizers.MagyarlancSentenceSplitterTokenizer
hu.nytud.gate.postaggers.MagyarlancPOSTaggerLemmatizer
hu.nytud.gate.parsers.MagyarlancDependencyParser addPosTags true addMorphFeatures true
