
# Magyarlanc "Morphparse" + Huntag3 NP-chunking + Iob2Annot (-> <NP> tags)
# XXX csak épp az új "pipe"-os huntag3-NP -vel :)

hu.nytud.gate.tokenizers.MagyarlancSentenceSplitterTokenizer
hu.nytud.gate.postaggers.MagyarlancPOSTaggerLemmatizer
hu.nytud.gate.othertaggers.Huntag3NPChunkerPipe
hu.nytud.gate.converters.Iob2Annot inputIobAnnotAttrib NP-BIO outputAnnotationName NP

